@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Details User";
}

<h2>Details User</h2>

<p>
    
        @ViewData["Message"]
  
</p>
